.Intro{
    color: black;
    margin-bottom: 1rem;
    margin-left: 18rem;
}
hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    }

.Job{
    margin: auto 18rem 2rem 18rem;

    .job-title{
        font-style: italic;
        font-weight: bold;
    }
}

.section{
    margin: auto 18rem 2rem 18rem;
    font-weight: bold;
}
